<div class="wrapper">
  <div class="container" *ngIf="form" [formGroup]="form">
    <div class="text-wrapper">
      <h1>Change Password</h1>
      <span>Create your new password below</span>
    </div>
    <div class="input-wrapper">
      <app-password-input [showPrompt]="true" formControlName="password"
        >Password</app-password-input
      >
      <app-password-input formControlName="rePassword"
        >Confirm Password</app-password-input
      >
    </div>
    <button
      class="btn btn-lg btn-primary"
      [disabled]="form.invalid"
      (click)="onChangePassword()"
    >
      Change Password
    </button>
  </div>
</div>
