@import "./../../../../../../theme/theme-variables.scss";
@import "./../../../../../../theme/buttons/buttons.scss";

:host::ng-deep {
  .image-wrapper {
    height: 185px;
  }
}

.wrapper {
  width: 100%;
  overflow: auto;
  padding-top: 105px;

  .content-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;

    .content {
      max-width: 600px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 32px;

      .title {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

        h1 {
          @include title-large($black);
        }

        .subtitle {
          display: flex;

          span {
            @include body-large-regular($black);
            text-align: center;
          }
        }
      }

      .cards-wrapper {
        width: 100%;

        .cards-container {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          gap: 16px;

          .card {
            width: 290px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 16px;

            span {
              @include label-large-semibold($black);
            }

            .drag-n-drop-body {
              text-align: center;
              @include body-large-regular($black);

              span {
                @include body-large-semibold($theme-800);
              }

              &.default {
                display: block;
              }

              &.media {
                display: none;
                @include body-large-semibold($theme-800);
              }
            }
          }
        }
      }

      .carousel-control-wrapper {
        width: 100%;
        display: none;
        justify-content: center;
        gap: 8px;

        .dot-wrapper {
          width: 8px;
          height: 8px;
          display: flex;
          align-items: center;
          justify-content: center;

          .dot {
            background: $gray-400;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            transition: 150ms;

            &.active {
              width: 100%;
              height: 100%;
              background: $theme-800;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    padding: 0 24px;
    margin: 24px 0;
  }
}

@media screen and (max-width: 768px) {
  .carousel-control-wrapper {
    display: flex !important;
  }

  .cards-wrapper {
    overflow: auto;

    .cards-container {
      width: fit-content;

      .card {
        width: 335px !important;
        .drag-n-drop-body {
          &.default {
            display: none !important;
          }

          &.media {
            display: block !important;
          }
        }
        ::ng-deep {
          app-drag-and-drop {
            .dropzone {
              width: 335px !important;
              height: 212px !important;

              .text-wrapper {
                height: auto;
              }

              .icon {
                background: url("./../../../../../../assets/icons/icon-cloud-storage-upload-green.svg");
                background-position: center;
                background-repeat: no-repeat;
              }
            }

            .image-wrapper {
              width: 335px !important;
              height: 212px !important;
            }

            .btn {
              display: none;
            }

            .close-button {
              display: block;
            }

            .template-under {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .title {
    h1 {
      font-size: 24px !important;
      line-height: 32px !important;
    }
  }
}
