@import "./../../../../../theme/theme-variables.scss";

.wrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;

  span {
    @include label-large-semibold($gray-700);
  }

  .input-wrapper {
    border-radius: 10px;
    border: 1px solid $gray-400;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 8px;

    input {
      width: 100%;
      border: 0;
      outline: 0;
      padding: 14px 20px;
      @include label-large-regular($black);

      &::placeholder {
        color: $gray-700;
      }
    }

    span {
      padding: 10px 16px;
      @include label-large-semibold($gray-400);
      cursor: pointer;

      &.active {
        color: $theme-800;
      }

      &.hidden {
        display: none;
      }
    }

    .icon {
      width: 40px;
      height: 40px;
      background: url("./../../../../../assets/icons/icon-check-circle-active.svg");
      background-repeat: no-repeat;
      background-size: 24px 24px;
      background-position: center;
      margin-right: 4px;

      &.hidden {
        display: none;
      }
    }

    &:focus-within {
      box-shadow: 0px 0px 0px 3px #caedc9;
    }

    &.disabled {
      input {
        background-color: $gray-100;
      }
    }
  }
}
