<div class="wrapper">
  <div class="outlet">
    <router-outlet></router-outlet>
  </div>
  <ng-container *ngIf="progressState | async as state">
    <ng-container [ngSwitch]="state.activeStep">
      <ng-container *ngSwitchCase="'create-account-manually'">
        <ng-template [ngTemplateOutlet]="createAccountManually"></ng-template>
      </ng-container>
      <ng-container *ngSwitchCase="'info-check'">
        <ng-template [ngTemplateOutlet]="infoCheck"></ng-template>
      </ng-container>
      <ng-container *ngSwitchCase="'verification'">
        <ng-template [ngTemplateOutlet]="verification"></ng-template>
      </ng-container>
      <ng-container *ngSwitchCase="'rent-reporting'">
        <ng-template [ngTemplateOutlet]="rentReporting"></ng-template>
      </ng-container>
      <ng-container *ngSwitchCase="'payment'">
        <ng-template [ngTemplateOutlet]="payment"></ng-template>
      </ng-container>
    </ng-container>
  </ng-container>

  <div
    class="loader-spinner"
    [@loadingAnimation]="(loaderState | async) ? 'loading' : 'stoped'"
  >
    <mat-progress-spinner
      class="example-margin"
      [color]="'red'"
      [mode]="'indeterminate'"
    >
    </mat-progress-spinner>
  </div>
</div>

<ng-template #createAccountManually>
  <div
    class="progress-wrapper create-account-manually"
    *ngIf="progressState | async as state"
  >
    <div class="progress-line"></div>
    <div class="progress-bar default">
      <button
        class="btn btn-secondary btn-lg"
        (click)="state.secondaryButton.action()"
        *ngIf="state.secondaryButton"
      >
        {{ state.secondaryButton.text }}
      </button>
      <div class="primary-wrapper">
        <div class="primary-text">
          By clicking ”Sign Up” button you are accepting our
          <a href="#">Terms & Conditions</a>
          and
          <a href="#">Privacy Policy.</a>
        </div>
        <button
          class="btn btn-primary btn-lg"
          (click)="state.primaryButton.action()"
          [disabled]="state.primaryButton.disabled"
          *ngIf="state.primaryButton"
        >
          {{ state.primaryButton.text }}
        </button>
      </div>
    </div>
    <div class="progress-bar media">
      <div class="top">
        <button
          class="btn btn-secondary btn-md"
          (click)="state.secondaryButton.action()"
          *ngIf="state.secondaryButton"
        >
          {{ state.secondaryButton.text }}
        </button>
        <button
          class="btn btn-primary btn-md"
          (click)="state.primaryButton.action()"
          [disabled]="state.primaryButton.disabled"
          *ngIf="state.primaryButton"
        >
          {{ state.primaryButton.text }}
        </button>
      </div>
      <div class="bottom">
        <div class="primary-text">
          By clicking ”Sign Up” button you are accepting our
          <a href="#">Terms & Conditions</a>
          and
          <a href="#">Privacy Policy.</a>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #infoCheck>
  <div
    class="progress-wrapper info-check"
    *ngIf="progressState | async as state"
  >
    <div class="progress-line"></div>
    <div class="progress-bar default">
      <button
        class="btn btn-secondary btn-lg"
        (click)="state.secondaryButton.action()"
        *ngIf="state.secondaryButton"
      >
        {{ state.secondaryButton.text }}
      </button>
      <div class="primary-wrapper">
        <button
          class="btn btn-primary btn-lg"
          (click)="state.primaryButton.action()"
          [disabled]="state.primaryButton.disabled"
          *ngIf="state.primaryButton"
        >
          {{ state.primaryButton.text }}
        </button>
      </div>
    </div>
    <div class="progress-bar media">
      <div class="top">
        <button
          class="btn btn-secondary btn-md"
          (click)="state.secondaryButton.action()"
          *ngIf="state.secondaryButton"
        >
          {{ state.secondaryButton.text }}
        </button>
        <button
          class="btn btn-primary btn-md"
          (click)="state.primaryButton.action()"
          [disabled]="state.primaryButton.disabled"
          *ngIf="state.primaryButton"
        >
          {{ state.primaryButton.text }}
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #verification>
  <div
    class="progress-wrapper verification"
    *ngIf="progressState | async as state"
  >
    <div class="progress-line"></div>
    <div class="progress-bar default">
      <button
        class="btn btn-secondary btn-lg"
        (click)="state.secondaryButton.action()"
        *ngIf="state.secondaryButton"
      >
        {{ state.secondaryButton.text }}
      </button>
      <div class="primary-wrapper">
        <button
          class="btn btn-primary btn-lg"
          (click)="state.primaryButton.action()"
          [disabled]="state.primaryButton.disabled"
          *ngIf="state.primaryButton"
        >
          {{ state.primaryButton.text }}
        </button>
      </div>
    </div>
    <div class="progress-bar media">
      <div class="top">
        <button
          class="btn btn-secondary btn-md"
          (click)="state.secondaryButton.action()"
          *ngIf="state.secondaryButton"
        >
          {{ state.secondaryButton.text }}
        </button>
        <button
          class="btn btn-primary btn-md"
          (click)="state.primaryButton.action()"
          [disabled]="state.primaryButton.disabled"
          *ngIf="state.primaryButton"
        >
          {{ state.primaryButton.text }}
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #rentReporting>
  <div
    class="progress-wrapper rent-reporting"
    *ngIf="progressState | async as state"
  >
    <div class="progress-line"></div>
    <div class="progress-bar default">
      <button
        class="btn btn-secondary btn-lg"
        (click)="state.secondaryButton.action()"
        *ngIf="state.secondaryButton"
      >
        {{ state.secondaryButton.text }}
      </button>
      <div class="primary-wrapper">
        <div class="primary-text">
          By clicking ”Continue” you are accepting our
          <a href="#">Tenant agreement.</a>
        </div>
        <button
          class="btn btn-primary btn-lg"
          (click)="state.primaryButton.action()"
          [disabled]="state.primaryButton.disabled"
          *ngIf="state.primaryButton"
        >
          {{ state.primaryButton.text }}
        </button>
      </div>
    </div>
    <div class="progress-bar media">
      <div class="top">
        <button
          class="btn btn-secondary btn-md"
          (click)="state.secondaryButton.action()"
          *ngIf="state.secondaryButton"
        >
          {{ state.secondaryButton.text }}
        </button>
        <button
          class="btn btn-primary btn-md"
          (click)="state.primaryButton.action()"
          [disabled]="state.primaryButton.disabled"
          *ngIf="state.primaryButton"
        >
          {{ state.primaryButton.text }}
        </button>
      </div>
      <div class="bottom">
        <div class="primary-text">
          By clicking ”Continue” you are accepting our
          <a href="#">Tenant agreement.</a>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #payment>
  <div class="progress-wrapper payment" *ngIf="progressState | async as state">
    <div class="progress-line"></div>
    <div class="progress-bar default">
      <button
        class="btn btn-secondary btn-lg"
        (click)="state.secondaryButton.action()"
        *ngIf="state.secondaryButton"
      >
        {{ state.secondaryButton.text }}
      </button>
      <div class="primary-wrapper">
        <div class="primary-text">First renewal {{ getNextMonthDate() }}</div>
        <button
          class="btn btn-primary btn-lg"
          (click)="state.primaryButton.action()"
          [disabled]="state.primaryButton.disabled"
          *ngIf="state.primaryButton"
        >
          {{ state.primaryButton.text }}
        </button>
      </div>
    </div>
    <div class="progress-bar media">
      <div class="top">
        <button
          class="btn btn-secondary btn-md"
          (click)="state.secondaryButton.action()"
          *ngIf="state.secondaryButton"
        >
          {{ state.secondaryButton.text }}
        </button>
        <button
          class="btn btn-primary btn-md"
          (click)="state.primaryButton.action()"
          [disabled]="state.primaryButton.disabled"
          *ngIf="state.primaryButton"
        >
          {{ state.primaryButton.text }}
        </button>
      </div>
      <div class="bottom">
        <div class="primary-text">First renewal {{ getNextMonthDate() }}</div>
      </div>
    </div>
  </div>
</ng-template>
