<div class="wrapper" *ngIf="passwordForm">
  <span>
    <ng-content></ng-content>
  </span>
  <div
    class="input-wrapper"
    [formGroup]="passwordForm"
    [ngClass]="{
      disabled: this.passwordForm.controls['password'].disabled,
      error:
        this.passwordForm.controls['password'].touched &&
        this.passwordForm.controls['password'].dirty &&
        !!this.passwordForm.controls['password'].errors
    }"
  >
    <input
      [type]="isPasswordVisible ? 'text' : 'password'"
      formControlName="password"
      placeholder="Enter password"
      autocomplete="123123"
      #input
    />
    <div class="icon" (click)="isPasswordVisible = !isPasswordVisible">
      <app-password-icon-svg
        [isVisible]="isPasswordVisible"
        [color]="'#717575'"
      ></app-password-icon-svg>
    </div>
    <div
      class="prompt-wrapper"
      *ngIf="!!showPrompt"
      #wrapper
      [style.right]="(wrapper.offsetWidth + 3) * -1 + 'px'"
    >
      <div class="prompt">
        <div
          class="item"
          [ngClass]="{
            active:
              passwordForm.controls['password'].dirty &&
              input.value.length >= 12
          }"
        >
          <div class="icon"></div>
          <span>12 characters long</span>
        </div>
        <div
          class="item"
          [ngClass]="{
            active:
              passwordForm.controls['password'].dirty &&
              !passwordForm.controls['password'].hasError('uppercaseError')
          }"
        >
          <div class="icon"></div>
          <span>1 uppercase letter (A-Z)</span>
        </div>
        <div
          class="item"
          [ngClass]="{
            active:
              passwordForm.controls['password'].dirty &&
              !passwordForm.controls['password'].hasError('lowercaseError')
          }"
        >
          <div class="icon"></div>
          <span>1 lowercase letter (a-z)</span>
        </div>
        <div
          class="item"
          [ngClass]="{
            active:
              passwordForm.controls['password'].dirty &&
              !passwordForm.controls['password'].hasError('numberError')
          }"
        >
          <div class="icon"></div>
          <span>1 number (0-9)</span>
        </div>
        <div
          class="item"
          [ngClass]="{
            active:
              passwordForm.controls['password'].dirty &&
              !passwordForm.controls['password'].hasError(
                'specialCharacterError'
              )
          }"
        >
          <div class="icon"></div>
          <span>1 special character (!#@$&)</span>
        </div>
      </div>
    </div>
  </div>
  <div
    class="errors"
    *ngIf="
      this.passwordForm.controls['password'].touched &&
      this.passwordForm.controls['password'].dirty &&
      !!this.passwordForm.controls['password'].errors
    "
  >
    <span> Not all conditions are met</span>
  </div>
</div>
