@import "./../../../../../theme/theme-variables.scss";

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  span {
    @include label-large-semibold($gray-700);
  }

  .input-wrapper {
    border-radius: 10px;
    border: 1px solid $gray-400;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 8px;
    padding-right: 16px;
    margin-top: 8px;

    input {
      border: 0;
      outline: 0;
      width: 100%;
      padding: 14px 0 14px 20px;
      @include label-large-regular($gray-700);
    }

    .icon {
      width: 24px;
      height: 24px;
      cursor: pointer;
    }

    &:focus-within {
      box-shadow: 0px 0px 0px 3px #caedc9;
      border: 1px solid $theme-800;

      .prompt-wrapper {
        visibility: visible;
      }
    }

    &.disabled {
      background-color: $gray-100;
    }

    &.error {
      border: 1px solid $error;
    }

    &:not(.error):hover {
      border: 1px solid $gray-700;
    }

    .prompt-wrapper {
      position: absolute;
      padding-left: 15px;
      z-index: 10;
      top: 25px;
      visibility: hidden;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 20%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        background-image: url("./../../../../../assets/icons/icon-password-prompt.svg");
        background-size: 100% 100%;
      }

      .prompt {
        width: 100%;
        height: 100%;
        background-color: $white;
        border-radius: 12px;
        padding: 10px;
        box-shadow: 0px 10px 30px 0px rgba(20, 20, 20, 0.1),
          0px 4px 10px 0px rgba(20, 20, 20, 0.05),
          0px 0px 0px 1px rgba(20, 20, 20, 0.03);
        display: flex;
        flex-direction: column;
        gap: 8px;

        .item {
          display: grid;
          grid: auto / 16px 1fr;
          gap: 8px;

          .icon {
            width: 100%;
            height: 16px;
            background: url("./../../../../../assets/icons/icon-check-circle.svg");
            background-size: cover;
            background-position: center;
          }

          span {
            @include body-small-medium($gray-700);
            font-weight: 400;
          }

          &.active {
            .icon {
              background: url("./../../../../../assets/icons/icon-check-circle-active.svg");
              background-size: cover;
              background-position: center;
            }

            span {
              color: $black;
            }
          }
        }
      }
    }
  }

  .errors {
    width: 100%;
    position: absolute;
    bottom: -18px;

    span {
      @include label-small-medium($error);
    }
  }
}

// @media screen and (max-width: 1399px) {
// .wrapper {
//   .input-wrapper {
//     .prompt-wrapper {
//       left: 0;
//       padding: 0;
//       top: 90px;
//       width: 100%;

//       &::before {
//         content: "";
//         position: absolute;
//         left: calc(50% - 20px);
//         top: -7%;
//         transform: rotate(90deg);
//         width: 20px;
//         height: 20px;
//         background-image: url("./../../../../../assets/icons/icon-password-prompt.svg");
//         background-size: 100% 100%;
//       }
//     }
//   }
// }
// }
