@import "./../../../../theme/theme-variables.scss";
@import "./../../../../theme/buttons/buttons.scss";

.wrapper {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    overflow: auto;

    .form {
      max-width: 400px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 32px;

      h1 {
        @include title-large($black);
      }

      .inputs {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
      }

      p {
        @include body-large-regular($black);

        a {
          @include body-large-semibold($theme-800);
          text-decoration: none;
        }
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .wrapper {
    .content {
      .form {
        p {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    display: block;
  }
}
